<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier demandé n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    # Redirige toutes les demandes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>